h1 {
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.parrafoPrincipal {
    margin: 20px;
    font-size: 17px;
}

/*Titulo y boton de compra*/

.bienvenidos {
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.subtitulo {
    margin: 10px;
}

h2 {
    text-align: center;
}

/*Iframe Videos y Mapa*/

iframe {
    display: block;
    margin: 30px auto;
    border-top: 1px solid black;
}